body{
  margin:0;
  height:100vh;
  display:flex;
  justify-content:center;
  align-items:center;
  background:#1e293b;
  color:#fff;
  font-family:Arial;
}

.card{
  background:#0f172a;
  padding:30px;
  border-radius:20px;
  text-align:center;
  width:360px;
}

.numbers{
  display:flex;
  flex-wrap:wrap;
  justify-content:center;
  gap:10px;
  margin:20px 0;
}

.num{
  background:#334155;
  padding:15px 18px;
  border-radius:10px;
  cursor:pointer;
  user-select:none;
  font-size:20px;
}

.selected{
  background:#22c55e;
}

button{
  padding:10px 20px;
  border:none;
  border-radius:10px;
  cursor:pointer;
  margin:5px;
}

#startBtn{ background:#3b82f6; color:#fff; }
#checkBtn{ background:#22c55e; color:#000; }

.hidden{ display:none; }

#timer{
  font-size:22px;
  margin:10px 0;
  color:#facc15;
}

.back{
  display:block;
  margin-top:15px;
  color:#93c5fd;
  text-decoration:none;
}
