*{
    box-sizing:border-box;
    font-family:Arial;
}

body{
    margin:0;
    min-height:100vh;
    background:linear-gradient(135deg,#020617,#020617); /* خلفية داكنة جدًا */
    display:flex;
    justify-content:center;
    align-items:flex-start;
    color:#e5e7eb;
}

.container{
    width:95%;
    max-width:1100px;
    padding:30px 0;
    text-align:center;
}

h1{
    margin-bottom:8px;
}

p{
    margin-bottom:30px;
    color:#94a3b8;
}

/* الأقسام جنب بعض */
.sections{
    display:flex;
    gap:30px;
    justify-content:center;
}

/* كل قسم */
.section{
    flex:1;
}

/* عناوين */
.questions-title{
    color:#b91c1c;
    margin-bottom:15px;
    font-size:22px;
}

.challenges-title{
    color:#1d4ed8;
    margin-bottom:15px;
    font-size:22px;
}

/* شبكة 3 فوق + 3 تحت */
.grid{
    display:grid;
    grid-template-columns:repeat(2, 1fr);
    gap:14px;
}

/* الزر */
.grid a{
    text-decoration:none;
    height:65px;
    display:flex;
    align-items:center;
    justify-content:center;
    border-radius:14px;

    /* 👇 تكبير الخط */
    font-size:18px;
    font-weight:bold;

    transition:0.2s;
}

/* ألوان أغمق */
.questions a{
    background:#991b1b; /* أحمر غامق */
    color:#fff;
}

.challenges a{
    background:#1e40af; /* أزرق غامق */
    color:#fff;
}

/* Hover */
.grid a:hover{
    transform:scale(1.05);
    filter:brightness(1.1);
}

/* الفوتر */
.footer{
    margin-top:35px;
    font-size:14px;
    color:#94a3b8;
}
