*{
    box-sizing:border-box;
    font-family:Arial;
}

body{
    margin:0;
    min-height:100vh;
    background:linear-gradient(135deg,#1f2933,#111827);
    display:flex;
    justify-content:center;
    align-items:flex-start;
    color:#fff;
}

.container{
    width:90%;
    max-width:900px;
    padding:30px 0;
    text-align:center;
}

h1{
    margin-bottom:5px;
}

p{
    margin-bottom:30px;
    color:#cbd5f5;
}

.title{
    margin:25px 0 15px;
    font-size:22px;
}

.questions-title{
    color:#ef4444;
}

.challenges-title{
    color:#3b82f6;
}

/* شبكة 3 × 3 */
.grid{
    display:grid;
    grid-template-columns:repeat(3,1fr);
    gap:15px;
    margin-bottom:20px;
}

.card{
    display:flex;
    justify-content:center;
    align-items:center;
    height:90px;
    text-decoration:none;
    font-size:16px;
    font-weight:bold;
    border-radius:16px;
    transition:.2s;
}

/* ألوان البطاقات */
.questions .card{
    background:#dc2626;
    color:#fff;
}

.challenges .card{
    background:#2563eb;
    color:#fff;
}

.card:hover{
    transform:scale(1.05);
    opacity:.9;
}

.footer{
    margin-top:30px;
    font-size:13px;
    color:#cbd5f5;
}
