*{
    box-sizing:border-box;
    font-family:Arial;
}

body{
    margin:0;
    background:#0b1220;
    color:#fff;
    display:flex;
    justify-content:center;
    align-items:center;
    min-height:100vh;
}

.game{
    width:90%;
    max-width:500px;
    text-align:center;
}

.info{
    display:flex;
    justify-content:space-between;
    margin:15px 0;
    font-size:18px;
}

.area{
    position:relative;
    background:#1f2937;
    height:300px;
    border-radius:16px;
    overflow:hidden;
}

.duck{
    position:absolute;
    font-size:40px;
    cursor:pointer;
}

.end{
    display:none;
    margin-top:20px;
}

.back{
    display:inline-block;
    margin-top:10px;
    padding:10px 16px;
    background:#2563eb;
    color:#fff;
    text-decoration:none;
    border-radius:10px;
}
