*{
    box-sizing: border-box;
    font-family: Arial;
}

body{
    margin:0;
    min-height:100vh;
    background:linear-gradient(135deg,#0b1220,#020617);
    display:flex;
    justify-content:center;
    align-items:center;
    color:#fff;
}

.game-container{
    width:90%;
    max-width:500px;
    background:#0f172a;
    padding:25px;
    border-radius:20px;
    text-align:center;
    box-shadow:0 10px 30px rgba(0,0,0,.4);
}

h2{
    margin-bottom:15px;
}

.question{
    font-size:18px;
    margin-bottom:20px;
}

.options{
    display:grid;
    gap:12px;
}

.options button{
    padding:12px;
    font-size:16px;   /* الكلام داخل الزر أكبر */
    border:none;
    border-radius:12px;
    cursor:pointer;
    background:#2563eb;
    color:#fff;
    transition:.2s;
}

.options button:hover{
    background:#1e40af;
    transform:scale(1.03);
}

.options button.correct{
    background:#16a34a;
}

.options button.wrong{
    background:#dc2626;
}

.end{
    font-size:20px;
    margin-top:20px;
}
