body {
  font-family: Arial;
  background: #0f172a;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.game {
  background: #020617;
  padding: 25px;
  border-radius: 20px;
  width: 420px;
  text-align: center;
}

h1 {
  margin-bottom: 10px;
}

#counter {
  margin-bottom: 15px;
  color: #cbd5f5;
}

#question {
  font-size: 20px;
  margin-bottom: 20px;
}

#options {
  display: grid;
  gap: 12px;
}

.option {
  background: #1e293b;
  border: none;
  padding: 12px;
  border-radius: 12px;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  transition: 0.2s;
}

.option:hover {
  background: #334155;
}

/* الصح */
.option.correct {
  background: #16a34a;
}

/* الخطأ */
.option.wrong {
  background: #dc2626;
}

.option:disabled {
  cursor: default;
}
