body{
    margin:0;
    min-height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    background:#0f172a;
    font-family:Arial;
    color:#fff;
}

.game{
    background:#020617;
    padding:25px;
    width:90%;
    max-width:420px;
    border-radius:16px;
    text-align:center;
}

#question{
    font-size:20px;
    margin-bottom:20px;
}

#answers button{
    width:100%;
    padding:12px;
    margin-bottom:10px;
    font-size:18px;
    border:none;
    border-radius:10px;
    cursor:pointer;
}

.correct{
    background:#16a34a;
    color:#fff;
}

.wrong{
    background:#dc2626;
    color:#fff;
}

.status{
    margin:10px 0;
    font-size:16px;
    min-height:20px;
}

#nextBtn{
    margin-top:10px;
    padding:10px;
    width:100%;
    font-size:16px;
    border:none;
    border-radius:10px;
    cursor:pointer;
}
