.option{
  display:block;
  width:100%;
  padding:14px;
  margin:8px 0;
  font-size:16px;
  border-radius:10px;
  border:none;
  cursor:pointer;
  background:#2a2a2a;
  color:#fff;
  transition:.2s;
}

.option:hover{
  background:#3a3a3a;
}

.correct{
  background:#16a34a !important;
}

.wrong{
  background:#dc2626 !important;
}

#timer{
  margin-bottom:10px;
  font-weight:bold;
}

.hidden{
  display:none;
}

#end{
  text-align:center;
}

#end button{
  margin-top:15px;
  padding:12px 20px;
  font-size:16px;
  border:none;
  border-radius:10px;
  cursor:pointer;
}
